@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    
}

header {
    height: 523px;
    background: 
    linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
    url("img/pexels-andrea-piacquadio-866023.jpg");
    background-size:contain;
    color: white;
}

header h1{
    text-align: center;
    font-size: 83px;
	padding-top: 20px;
}

.slogan{
    color:white;
    font-size: 25px;
    font-weight: bold; 
    padding-top: 30px; 
}


.amarelo{
    background-color: #f5d759;
}
.cinza{
    background-color:#EEE9E9;
}
 
.frase{
    font-size: 28px;
    height: 340px;
} 

.planos{
    font-size: 28px;
    height: 500px;
}
.preco{
    font-size: 35px;
    font-weight: bold;
    -webkit-text-stroke: 1px #070606;
}

.modalidade{
    font-weight: bold;
    -webkit-text-stroke: 1px  #f5d759;
    text-shadow: 0px 1px 4px #f5d759;
}

 .imagem_boxe{
    height: 490px;
}

.video{
    height: 500px;
}

/* .display_maps{
    display: inline-block;
} */

.imagem_maps{
  
   width:350px;
   height: 500px;
} 

.maps{
    width: 500px;
    height: 500px;
}