@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');
*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    box-sizing: border-box;
}
.amarelo{
    background-color: #f5d759;
}
.cinza{
    background-color:#EEE9E9;
}
h2{
    font-size: 32px;
    font-weight: 300;
}
.textCenter{
    text-align: center;
}
header {
    height: 100vh;
    background-image: 
    linear-gradient(rgba(50, 50, 50, 0.7), rgba(50, 50, 50, 0.7)),
    url("./pexels-andrea-piacquadio-866023.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(236, 235, 229);
}
.logo{
    float: left;
    display: flex;
    align-items: center;
}
.logo p{
padding-left: 10%;
font-weight: 300;
font-size: 20px;
}
.menu{
    float: right;
    padding: 2% 1% 0 0;
}
.menu a{
    font-size: 20px;
    color: rgb(236, 235, 229);
    text-decoration: none;
    border-bottom: 5px solid #f5d759;
    padding-bottom: 1%;
    margin-right: 10px;
}
a:hover {
    color: #f5d759;
}
.content{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content h1{
    font-size: 80px;
    font-weight: 500;
}
.slogan{
    font-size: 25px;
    font-weight: 500;
}
.frase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    font-weight: 300;
    height: 40vh;
    gap: 50px;
} 
button{
    width: 300px;
    height: 50px;
    border-radius: 25px;
    border: solid #EEE9E9 .5px;
    font-size: 15px;
    text-transform: uppercase;
    color:black;
    cursor: pointer;
    letter-spacing: 1px;
    box-shadow:  4px 8px #a0a0a0;
}
.botao-amarelo{
    background-color: #f5d759;
    box-shadow:  4px 8px #eec007;
    border: solid #f5d759 .5px;
}
.gap-botao{
    margin-top: 5%;
}
.planos{
    height: 80vh;
    display: flex;
    font-size: 32px;
    font-weight: 300;
    flex-direction: column;
    justify-content: center;
}
.planos p{
    padding-top: 2%;
}
p span{
    font-size: 34px;
    font-weight: 700;
}
.modalidade{
    font-weight:700;
    color: #eec10c;
} 
 .imagem_boxe{
    height: 60vh;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imagem_boxe img{
    height: 50vh;
    width: 35vh;
}
.video{
    height: 80vh;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0%;
}
.video video{
    height: 300px;
    width: 500px;
    margin-top: 70px;
}
.video button{
    margin-top: 80px;
}
.linhaUm{
    grid-area: linhaUm;
}
.linhaDois{
    grid-area: linhaDois;
    display: flex;
    align-items: center;
    justify-content: center;
}
.linhaTres{
    grid-area: linhaTres;
}
.local{
    height: 90vh;
    display: grid;
    grid-template-areas:
        "linhaUm"
        "linhaDois"
        "linhaTres";
    padding: 20px 10px;
    font-weight: 300;
    overflow: auto;
}
.local p{
    padding: 10px ;
    font-size: 20px;
    line-height: 1.5;
}
.local img{
    height: 57vh;
    width: 37vh;
    margin-right: 15px;
}
.maps{
    height: 60vh;
    width: 70vh ;
}
footer{
    padding: 20px;
    line-height: 1.5;
    font-weight: 300;
    font-size: smaller;
}

